section
{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--main-color-02);

    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    justify-content: center;
}


.intro
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: unset;
}
.intro > img
{
    position: relative;
    width: 85%;
    height: auto;
    transform: translate(20%, -2rem);
}

.login_form
{
    width: 450px;
    min-height: 200px;
    border-radius: 30px;
    box-shadow: 1px 3px 6px #00000020;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    padding: 2rem;
}

.login_form h5 { font-size: 1rem; }
.login_form p { font-weight: 200; color: #707070 }

input
{
    margin: 1rem 0;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    border:none;
    outline:none;
    background: var(--main-color-02);
    text-align: center;
    font-size: 1.6rem;
    color: var(--main-color);
}
.numbers
{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    align-items: center;
    align-content: center;
}
.number
{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    box-shadow: 1px 3px 6px #00000020;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: var(--main-color-02);
    cursor:pointer;
    transition: .1s;
    user-select: none;
}
.number:hover{background: var(--main-color-04);}
.number:active{background: var(--main-color-06); border-bottom: 1px solid var(--main-color); box-shadow: unset;}
.number > i {color:var(--main-color)}

.primary_button{margin-top: 1rem ;}